@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@inject IResellerService ResellerService
<div class="reseller-hierarchy">
    <TreeView Items="@resellers" TItem="ApplicationUser">
        <NodeTemplate>
            <div>
                @context.Email - Credits: @context.CreditBalance
                <button @onclick="() => ShowTransferModal(context.Id)">Transfer Credits</button>
            </div>
        </NodeTemplate>
    </TreeView>
</div>

@code {
    private List<ApplicationUser> resellers = new();

    protected override async Task OnInitializedAsync()
    {
        resellers = await ResellerService.GetResellerHierarchyAsync();
    }
}